<h1>Listing flowers</h1>

<table>
  <tr>
    <th>Latin name</th>
    <th>Common name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flowers.each do |flower| %>
  <tr>
    <td><%= flower.latin_name %></td>
    <td><%= flower.common_name %></td>
    <td><%= link_to 'Show', flower %></td>
    <td><%= link_to 'Edit', edit_flower_path(flower) %></td>
    <td><%= link_to 'Destroy', flower, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flower', new_flower_path %>
