<h1>Listing beds</h1>

<table>
  <tr>
    <th>Soil type</th>
    <th>Sqft</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @beds.each do |bed| %>
  <tr>
    <td><%= bed.soil_type %></td>
    <td><%= bed.sqft %></td>
    <td><%= link_to 'Show', bed %></td>
    <td><%= link_to 'Edit', edit_bed_path(bed) %></td>
    <td><%= link_to 'Destroy', bed, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bed', new_bed_path %>
